@page "/majors/edit"
@using Microsoft.EntityFrameworkCore
@using SIMS.Data
@inject IDbContextFactory<SIMS.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Major</h2>
<hr />
@if (Major is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Major" OnValidSubmit="UpdateMajor" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Major.Id" value="@Major.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Major.Name" class="form-control" />
                    <ValidationMessage For="() => Major.Name" class="text-danger" />
                </div>


                <div class="mb-3">
                <label for="departmentid" class="form-label">Department:</label> 
                <InputSelect id="departmentid" @bind-Value="Major.DepartmentId" class="form-control" > 
                    @foreach (var department in Departments)
                    {
                        <option value="@department.Id">@department.Name</option>
                    }
                 <ValidationMessage For="() => Major.DepartmentId" class="text-danger" />

                 </InputSelect>
            </div>

                
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/majors">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Major? Major { get; set; }

    private List<Department> Departments{get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Major ??= await context.Majors.FirstOrDefaultAsync(m => m.Id == Id);
        Departments = await context.Departments.ToListAsync();

        if (Major is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateMajor()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Major!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!MajorExists(Major!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/majors");
    }

    private bool MajorExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Majors.Any(e => e.Id == id);
    }
}
