@page "/departments"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SIMS.Data
@using SIMS.Data
@implements IAsyncDisposable
@inject IDbContextFactory<SIMS.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="departments/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Departments">
    <PropertyColumn Property="department => department.Name" />

    <TemplateColumn Context="department">
        <a href="@($"departments/edit?id={department.Id}")">Edit</a> |
        <a href="@($"departments/details?id={department.Id}")">Details</a> |
        <a href="@($"departments/delete?id={department.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
