@page "/semesters"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SIMS.Data
@using SIMS.Data
@implements IAsyncDisposable
@inject IDbContextFactory<SIMS.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="semesters/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Semesters">
    <PropertyColumn Property="semester => semester.Name" />

    <TemplateColumn Context="semester">
        <a href="@($"semesters/edit?id={semester.Id}")">Edit</a> |
        <a href="@($"semesters/details?id={semester.Id}")">Details</a> |
        <a href="@($"semesters/delete?id={semester.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
