@page "/subjects/create"
@using Microsoft.EntityFrameworkCore
@using SIMS.Data
@inject IDbContextFactory<SIMS.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Subject</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Subject" OnValidSubmit="AddSubject" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="code" class="form-label">Code:</label> 
                <InputText id="code" @bind-Value="Subject.Code" class="form-control" /> 
                <ValidationMessage For="() => Subject.Code" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Subject.Name" class="form-control" /> 
                <ValidationMessage For="() => Subject.Name" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/subjects">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Subject Subject { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddSubject()
    {
        using var context = DbFactory.CreateDbContext();
        context.Subjects.Add(Subject);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/subjects");
    }
}
